* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}
body {
  margin: 0 auto;
  padding: 3.3em 1.6em;
  max-width: 64ch;
  font: 20px/1.6 sans-serif;
  background: #f5eedc;
}
body,
a {
  color: #222;
}
