* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}
body {
  margin: 0 auto;
  padding: 3.3em 1.6em;
  max-width: 64ch;
  font: 20px/1.6 sans-serif;
  background: #f5eedc;
}
body,
a {
  color: #222;
}
::selection,
.k,
a:focus,
a:hover {
  background: #222;
  color: #f5eedc;
}
.lsn {
  list-style: none;
}
.s {
  font-size: 0.8em;
}
h1 {
  margin: 0 0 0.6em;
}
h1 > a {
  text-decoration: none;
}
h2 {
  font: 1.3em/1.3 sans-serif;
}
.m {
  margin: 0 0 2.6rem;
}
main > * {
  margin: 0 0 1.3rem;
}
.img, img {
  mix-blend-mode: multiply;
}
.img {
  background: #f5eedc;
}
img {
  width: 100%;
  height: auto;
}
h2, h3 {
  margin: 1.5em 0 1.3rem;
}
.g {
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.x {
  display: flex;
  margin: 0 -10px;
  justify-content: space-evenly;
}
.l {
  padding: 12px 10px 12px 10px;
  display: inline-block;
}
.p {
  image-rendering: crisp-edges;
}
.c {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.f {
  text-align: center;
}
.b {
  padding: 0.8em 1.3em;
}
.q {
  margin: 0 0 0.8rem;
}
.k {
  padding: 0 5px;
}
.mid {
  vertical-align: middle;
}
.sm {
  font-size: 0.7em;
}
.ei {
  margin-bottom: 0;
  bottom: 10px;
  right: 10px;
  position: fixed;
}
