{% import 'components/nav.html' as nav %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <meta name="author" content="{{ metadata.author.name }}">
    <link rel="manifest" href="{{ '/manifest.webmanifest' | url }}">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ '/css/s.css' | url }}">
    <script>
      if ("serviceWorker" in navigator)
        navigator
          .serviceWorker
          .register("/service-worker.js");
    </script>
  </head>
  <body>
    <header>
      <h1>
        <a href="{{ '/' | url }}">{{ metadata.title }}
          <span class="mid">●</span></a>
      </h1>
      <aside class="s m">
        <nav>
          <ul class="x">
            {{ nav.default((collections.all | eleventyNavigation), page, showDate=true) }}
          </ul>
        </nav>
      </aside>
    </header>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
  </body>
</html>
